In [2]:
import pandas as pd
from torch_geometric.data import Data
from torch_geometric.loader import DataLoader
import torch

In [3]:
# load bike dataset from datasets folder
bike_data = pd.read_csv('datasets/MontrealBikeLane.csv')
bike_data

,Date,Time,Berri1,Boyer,Brébeuf,CSC (Côte Sainte-Catherine),Maisonneuve_1,Maisonneuve_2,Maisonneuve_3,Notre-Dame,...,Pont_Jacques_Cartier,Rachel / Hôtel de Ville,Rachel / Papineau,René-Lévesque,Saint-Antoine,Saint-Laurent U-Zelt Test,Saint-Urbain,Totem_Laurier,University,Viger
0,01/01/2015,00:00,58,12,4,17,33.0,49,21,16,...,NaN,58,91,24,3,NaN,17,78,21,6
1,02/01/2015,00:00,75,7,5,15,30.0,113,27,9,...,NaN,109,177,32,13,NaN,11,57,77,4
2,03/01/2015,00:00,79,7,3,7,30.0,107,36,12,...,NaN,71,131,33,5,NaN,14,174,40,5
3,04/01/2015,00:00,10,1,21,0,10.0,35,29,1,...,NaN,6,11,6,1,NaN,1,20,6,0
4,05/01/2015,00:00,42,0,2,0,27.0,90,21,1,...,NaN,0,5,49,20,NaN,0,41,56,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,11/11/2015,00:00,3044,1931,2828,1393,NaN,3603,1754,1142,...,950.0,2328,3280,1210,338,4065.0,1534,1527,2860,356
315,12/11/2015,00:00,1751,930,1670,888,NaN,2048,700,675,...,467.0,1345,1877,755,180,2336.0,960,955,1777,198
316,13/11/2015,00:00,1818,906,1711,873,NaN,2115,634,477,...,482.0,1416,1980,719,204,2628.0,978,1040,1727,258
317,14/11/2015,00:00,979,759,978,322,NaN,1112,290,310,...,266.0,1061,1448,269,70,1876.0,640,805,737,73
318,15/11/2015,00:00,913,749,1028,348,NaN,1128,303,224,...,380.0,1094,1491,321,64,1913.0,537,804,685,63

In [6]:
# Creating our Data object in PyTorch Geometric
node_index = list(
    range(0, len(
                [col for col in bike_data.columns if col not in ["Date", "Time"]]
            )
    )
)
# create all possible edge indices
edge_index = []
for i in node_index:
    for j in node_index:
        if i != j:
            edge_index.append([i, j])
edge_index = torch.tensor(edge_index, dtype=torch.long).t().contiguous()

# retrieving node features for one row
node_features = torch.tensor(
    bike_data.iloc[0][[col for col in bike_data.columns if col not in ["Date", "Time"]]],
    dtype=torch.float
)

# finally, creating our Data object
date_graph_sample = Data(x=node_features, edge_index=edge_index)
date_graph_sample.validate()
date_graph_sample

Data(x=[21], edge_index=[2, 420])

tensor([58., 12.,  4., 17., 33., 49., 21., 16., 16., nan,  7., nan, 58., 91.,
        24.,  3., nan, 17., 78., 21.,  6.])

In [ ]:
data_list = [Data(...), ..., Data(...)]
loader = DataLoader(data_list, batch_size=32)